$font: "Opensans", Arial, sans-serif;
$fontbold: "Opensans Bold", Arial, sans-serif;
$textcolor: #444444;
$darktextcolor: #000000;
$lightextcolor: #ffffff;

$green-bg: #63d1bb;
$darkgreen-bg: #56c3b2;

