.btn {
  display: block;
  width: 100%;
  border: 2px solid #444444;
  padding: rem(16px) 0;
  color: $textcolor;
  text-align: center;
  text-transform: uppercase;
  font-family: $fontbold;
  font-size: rem(17px);
  line-height: rem(16px);
  background-color: #fff;
  cursor: pointer;
  &--slider {
    width: 50%;
    font-size: 0;
    border: 1px solid #ececec;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    @include tablet {
      border: none;
    }
  }
  &--slider-left {
    background-image: url("../img/icon-left-arrow.svg");
  }
  &--slider-right {
    background-image: url("../img/icon-right-arrow.svg");
  }
  &--modal {
    background-color: $green-bg;
    color: $lightextcolor;
    border: none;
  }
  &--contacts {
    @include tablet {
      margin: 0 auto;
      width: 230px;
    }
    @include desktop {
      width: 230px;
    }
  }
  &--review {
    @include tablet {
      position: absolute;
      width: 26.197760479041%;
      right: 0;
      top: 0;
    }
    @include desktop {
      width: 16.7%;
      top: 9px;
      right: 2px;
    }
  }
  &--order {
    margin-top: 28px;
    @include tablet {
      margin-top: 0;
      width: 34.431137724%;
    }
    @include desktop {
      width: 33%;
    }
  }
  &--catalog {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 74%;
    @include tablet {
      order: 3;
      margin-top: 36px;
      width: 88%;
    }
    @include desktop {
      width: 100%;
      margin-top: 47px;
    }
  }
}


