.features {
  padding-top: 35px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 82px;
  }
  @include desktop {
    padding-top: 58px;
    padding-bottom: 95px;
  }
}
.features__wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    padding-left: 172px;
    padding-right: 172px;
  }
}
.features__title {
  font-family: $fontbold;
  font-size: rem(25px);
  line-height: rem(30px);
  color: $darktextcolor;
  @include tablet {
    width: 100%;
    margin-bottom: 48px;
    font-size: rem(43px);
    line-height: rem(50px);
  }
  @include desktop {
    font-size: rem(53px);
    line-height: rem(57px);
  }
}
