.order-form {
  padding-top: 22px;
  padding-bottom: 54px;
}
.order-form__group {
  margin-bottom: 5px;
  @include tablet {
    padding: 50px 0;
    display: flex;
  }
  &--radio {
    margin-bottom: 23px
  }
  &--name {
    margin-bottom: 34px;
  }
  &--tel {
    margin-bottom: 30px;
  }
  &--email {
    margin-bottom: 32px;
  }
}
.order-form__text {
  margin-bottom: 25px;
  font-size: rem(13px);
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
input {
  outline: none;
  @include placeholder {
    font-size: rem(17px);
    line-height: rem(18px);
  }
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 15px 40px 15px 0;
}
input[name="phone"],
input[name="mail"],
textarea[name="extra"] {
  @include tablet {
    width: 100%;
  }
}
textarea[name="extra"] {
  width: 100%;
  min-height: 143px;
  padding: 17px;
  border: 2px solid #000000;
  outline: none;
  font-size: rem(17px);
  line-height: rem(18px);
}
.order-form__label-wrap {
  @include tablet {
    width: 78.15625%;
  }
  &--checkbox {
    margin-bottom: 33px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &--tel {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 25px;
      height: 24px;
      background-image: url(../img/icon-phone.svg);
      background-repeat: no-repeat;
      top: 9px;
      right: 8px;
    }
  }
  &--email {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 33px;
      height: 26px;
      background-image: url(../img/icon-mail.svg);
      background-repeat: no-repeat;
      top: 10px;
      right: 3px;
    }
  }
}
.order-form__legend {
  position: relative;
  margin-bottom: 24px;
  font-family: $fontbold;
  font-size: rem(17px);
  line-height: rem(16px);
  text-transform: uppercase;
  color: $green-bg;
  @include tablet {
    width: 21.84375%;
  }
  &:after {
    position: absolute;
    content: '';
    width: 76.1538461538%;
    height: 1px;
    background-color: $green-bg;
    top: 8px;
    right: 0;
  }
  &--name {
    margin-bottom: 27px;
  }
  &--tel {
    margin-bottom: 8px;
  }
  &--email {
    margin-bottom: 10px;
    &:after {
      width: 68.84615384615%;
    }
  }
}
.order-form__label {
  position: relative;
  display: block;
  font-family: $fontbold;
  font-size: rem(17px);
  line-height: rem(18px);
  padding-left: 63px;
  padding-top: 12px;
  margin-bottom: 12px;
  &--radio {
    min-height: 48px;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      border-radius: 50%;
    }
  }
  &--checkbox {
    min-height: 39px;
    margin-bottom: 22px;
    cursor: pointer;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 33%;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
    }
  }
  &--name {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 1px;
  }
}
.order-form__radio-control:checked + .order-form__label--radio::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $green-bg;
  left: 12px;
  top: 43%;
  transform: translateY(-50%);
}
.order-form__checkbox-control:checked + .order-form__label--checkbox::after {
  content: '';
  position: absolute;
  display: block;
  width: 21px;
  height: 10px;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  left: 10px;
  top: 15px;
  transform: rotate(-45deg);
}

.order-form__name-wrap {
  margin-bottom: 23px;
  @include tablet {
    display: flex;
  }
}

.order-form__input {
  &--tel {

  }
  &--email {

  }
  &--name {
    @include tablet {
      flex-grow: 1;
    }
  }
}
.order-form__note-wrap {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.order-form__note {
  font-size: rem(14px);
  line-height: rem(16px);
}
