.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  @include tablet {
    justify-content: flex-start;
  }
  @include desktop {
    justify-content: center;
  }
}
.logo__link {
  display: block;
  padding-top: rem(14px);
  padding-bottom: rem(14px);
}
.logo__img {
  @include tablet {
    display: block;
  }
}
