.logo {
  text-align: center;
  @include tablet {
    position: absolute;
    left: 0;
    top: 20px;
  }
  @include desktop {
    left: calc(50% - 45px);
    top: 20px;
  }
}
.logo__link {
  display: block;
}
.logo__img {
  @include tablet {
    display: block;
  }
}
