
.menu__link {
  display: block;
  border-top: 1px solid #ececec;
  text-align: center;
  text-decoration: none;
  font-family: $fontbold;
  font-size: rem(17px);
  font-weight: bold;
  color: $darktextcolor;
}
