.modal {
  padding: 30px 30px 45px 30px;
}
.modal__title {
  margin-bottom: 20px;
  font-family: $fontbold;
  text-align: center;
  font-size: rem(25px);
  line-height: rem(30px);
}
.modal__text {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  line-height: rem(30px);
}
.modal-form__radio-wrap {
  margin-bottom: 30px;
  text-align: center;
}
