.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1010;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  background-color: rgba(255,255,255,0.9);
  display: none;
}
.modal__content {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0px 3px 13px 0px #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  @include tablet {
    width: 570px;
    border: 1px solid #c7c7c7;
  }
}
.modal__content-wrap {
  padding: 30px 9.375% 45px 9.375%;
  @include tablet {
    padding-left: 105px;
    padding-right: 105px;
  }
}
.modal__title {
  margin-bottom: 12px;
  padding: 0 42px;
  font-family: $fontbold;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(25px);
  line-height: rem(30px);
  @include tablet {
    padding: 0;
    font-size: rem(30px);
    line-height: rem(57px);
  }
}
.modal__text {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: rem(15px);
  line-height: rem(30px);
  @include tablet {
    font-size: rem(17px);
  }
}
.modal-form__radio-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  text-align: center;
}
.modal__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px solid #ececec;
  font-size: rem(17px);
  line-height: rem(16px);
  font-family: $fontbold;
  text-transform: uppercase;
  cursor: pointer;
  @include tablet {
    width: 112px;
  }
}
.modal__radio-control:checked + .modal__radio {
  border: 2px solid $green-bg;
}
