.product {
  margin-bottom: 30px;
  border: 1px solid #ededed;
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
  @include desktop {
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
  }
}
.product__info-wrap {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}
.product__img-wrap {
  text-align: center;
  @include tablet {
    width: 50%;
  }
  a {
    display: block;
  }
}
.product__title-link {
  display: block;
  text-decoration: none;
}
.product__title {
  color: $darktextcolor;
  font-family: $fontbold;
  font-size: rem(17px);
}
.product__description {
  font-size: rem(13px);
  line-height: rem(30px);
}
.product__price {
  font-family: $fontbold;
}
.product__img {
  max-width: 100%;
  height: auto;
}
