.product-week {
  padding-top: 30px;
  padding-bottom: 35px;
  @include tablet {
    padding-top: 46px;
    padding-bottom: 70px;
  }
}
.product-week__wrap {
  position: relative;
}
.product-week__title {
  display: flex;
  flex-direction: column;
  margin-right: -10px;
  text-align: left;
  color: $darktextcolor;
  font-family: $fontbold;
  font-size: rem(25px);
  line-height: rem(30px);

  @include tablet {
    font-size: rem(43px);
    line-height: rem(50px);
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    position: absolute;
    top: 55px;
    left: 5%;
    padding: 0 rem(35px);
    flex-direction: row-reverse;
    width: 75%;
    justify-content: flex-end;
    z-index: 2;
    font-size: rem(53px);
    line-height: rem(57px);
  }
}
.product-week__title-slogan {
  margin-top: 4px;
  text-align: left;
  color: $green-bg;
  font-family: $fontbold;
  font-style: normal;
  font-size: rem(17px);
  line-height: rem(16px);
  text-transform: uppercase;
  @include tablet {
    width: rem(85px);
    display: inline-block;
    margin-right: 31px;
    margin-top: 13px;
    text-align: center;
  }
  @include desktop {
    margin-right: rem(50px);
  }
}
.product-week__description-wrap {
  margin-top: 28px;
  @include tablet {
    margin-top: 49px;
    position: relative;
    padding-right: 56.287425149%;
  }
  @include desktop {
    padding-left: 15%;
  }
}
.product-week__description {
  font-size: rem(15px);
  line-height: rem(24px);
  @include tablet {
    font-size: rem(17px);
    line-height: rem(30px);
  }
  @include desktop {
    padding-top: 150px;
  }
}
.product-week__property {
  width: 100%;
  margin-top: 15px;
  font-size: rem(15px);
  line-height: rem(20px);
  @include tablet {
    margin-top: 32px;
  }
  td {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ececec;
    &:last-child {
      padding-left: 6.92%;
      @include tablet {
        padding-left: 0;
      }
    }
  }
}
.product-week__img-wrap {
  margin-top: 26px;
  @include tablet {
    position: absolute;
    width: 50%;
    margin: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    min-height: 100%;
    overflow: hidden;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    @include tablet {
      width: 100%;
      height: auto;
    }
  }
}
.product-week__price {
  display: block;
  margin: 26px 0;
  text-align: center;
  font-size: rem(17px);
  font-family: $fontbold;
  line-height: rem(24px);
  @include tablet {
    margin-top: 55px;
    margin-bottom: 35px;
    font-size: rem(20px);
  }
}
