.promo {
  position: relative;
  min-height: 490px;
  padding-top: rem(70px);
  background: #f1f1f1 url("../img/hero-mobile@1x.jpg") no-repeat center top;
  background-size: cover;
  border-bottom: 1px solid #e7e7e7;
  @include tablet {
    min-height: 750px;
    padding-top: rem(155px);
  }
  &--catalog,
  &--form {
    min-height: 177px;
    background-image: none;
    @include tablet {
      min-height: 224px;
      padding-top: rem(103px);
    }
  }
}
.promo__title {
  margin: 0 auto;
  text-align: center;
  font-family: $fontbold;
  font-weight: bold;
  font-size: rem(27px);
  line-height: rem(30px);
  @include tablet {
    font-size: rem(43px);
    line-height: rem(50px);
    br {
      display: none;
    }
  }
}
.promo__link-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  @include tablet {
    width: 86.97916666666666%;
    display: flex;
    left: 6.45%;
  }
}
.promo__link {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 9.375%;
  padding-right: 50%;
  display: block;
  background-color: $green-bg;
  color: $lightextcolor;
  font-size: rem(19px);
  font-weight: 700;
  @include tablet {
    padding-right: 30%;
    width: 50%;
    font-size: rem(20px);
    line-height: rem(30px);
  }
  &--toys {
    background-color: $darkgreen-bg;
  }
}
