.slider {
  padding-top: 50px;
  padding-bottom: 50px;
  @include tablet {
    padding-top: 78px;
    margin-bottom: 82px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
  @include desktop {
    padding: 0;
    background-image: none;
  }
}
.slider__wrap {
  @include tablet {
    position: relative;
  }
  @include desktop {
    padding-top: 69px;
    padding-bottom: 95px;
    padding-left: 172px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}
.slider__title {
  color: $darktextcolor;
  font-size: rem(25px);
  font-family: $fontbold;
  line-height: rem(30px);
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 49px;
    font-size: rem(43px);
    line-height: rem(50px);
  }
  @include desktop {
    font-size: rem(53px);
    line-height: rem(57px);
  }
}
.review__text {
  font-size: rem(15px);
  line-height: rem(30px);
  margin-bottom: 26px;
  @include tablet {
    margin-bottom: 57px;
    font-size: rem(17px);
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.review__name {
  color: $darktextcolor;
  font-family: $fontbold;
  font-size: rem(18px);
  line-height: rem(24px);
  @include tablet {
    font-size: rem(17px);
  }
}
.review__mail {
  display: inline-block;
  margin-top: 2px;
  font-size: rem(18px);
  line-height: rem(30px);
  @include tablet {
    display: block;
    font-size: rem(17px);
  }
}
.slider__controls {
  display: flex;
  margin-top: 32px;
  margin-bottom: 38px;
  @include tablet {
    margin: 0;
    position: absolute;
    width: 26.197760479041%;
    bottom: 4px;
    right: 0;
  }
  @include desktop {
    width: 16.5%;
    bottom: 5px;
    right: 3px;
  }
}
